@font-face {
  font-family : 'pretendard-regular';
  src : url(../public/font/PRETENDARD-REGULAR.OTF)
}

@font-face {
  font-family : 'omyu_pretty';
  src : url(../public/font/omyu_pretty.ttf)
}

@font-face {
  font-family : 'HS_summer';
  src : url(../public/font/HS_summer.TTF)
}

@font-face {
  font-family : 'pretendard-bold';
  src : url(../public/font/PRETENDARD-BOLD.OTF)
}

@font-face {
  font-family : 'pretendard-medium';
  src : url(../public/font/PRETENDARD-MEDIUM.OTF)
}

@font-face {
  font-family : 'pretendard-semibold';
  src : url(../public/font/PRETENDARD-SEMIBOLD.OTF)
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Main{
  /* display: flex; 가로 정렬로 바꿔버림 */
  /* justify-content: center;    가로 가운데 정렬 */
  /* align-items: center;    세로 가운데 정렬 */
  /* flex-direction: column; 정렬을 세로로 */
  /* border-color: black; */
  display: flex;
  justify-content: center; 
  align-items: center;   
  flex-direction: column; 
  height: 100vh;
  background-color: #496D68;
} 

.full-screen{
  .Main{
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center; 
    align-items: center;   
    flex-direction: column; 
    height: 100vh;
  } 
}

.show-background {
  background-image: url(../public/img/loginback.png);
  background-repeat: no-repeat;
  background-position: bottom;
   background-size: 50vh;
}

.signup_link{
  color: #496D68;
  text-decoration: none;
  font-weight: bolder;
}

.login-btn-main{
  width: 45vh;
  height: 48px;
  border: 1px solid grey;
  border-radius: 10px;
  font-family : 'pretendard-regular';
  margin-bottom: 1vh;
  background-color: white;
  color: black;
}


.mainText{
  color:white;
  font-family : 'pretendard-regular';
  font-family : 'omyu_pretty';
  margin-bottom: 10vh;
}

code {
  font-family: 'pretendard-regular',
    monospace;
}

header{
  background-color: #496D68;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 109px;
}

.greenText{
  color:white;
  font-family: HS_summer;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  align-items: center;
  height: 56px;
  display:flex;
  justify-content: center;
  padding-top: 1.5vh;
}

/* .haeder-logo-image{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%; 
  height: auto; 
} */

.main-items{
  
  margin-bottom: 2vh;
  border-radius: 3px;
}

.profile-mainment{
  height: 110px;
  padding-top: 3vh;
  margin:0 2vh;
  font-family: 'pretendard-semibold';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profileBox{
  width: 10vh;
  height:10vh;
  border: 1px solid #dddddd;
  box-shadow: 0px 0px 3px 3px #eeeeee;
  border-radius: 45px;
  margin-top:-2vh;
}

.gift-button-box{
  height:132px;
  background-color: #E7F6EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 2vh;
  margin-top: 1vh;
  border-radius: 8px;
  
}

.wantedGift{
  margin-top: 1vh;
  font-family: pretendard-regular;
  font-size: 20px;
  color: #496D68;
}

footer{
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.10);
  
}

.icons{
  text-align: center;
  flex: 1;
  margin-top: 1.5vh;
 
}

/* div안에 가로 정렬할때(그 위 부모div에 text-align:'center') */
.row-align{
  text-align: center;
  flex: 1;
}

.writeButton{
  font-size: 30px;
  background-color: #496D68;
  color: white;
  border: none;
  border-radius: 100%;
  width:56px;
  height:56px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.10);
}

.all-all-screen{
  display: block;
  overflow-y: auto;
  margin-top: 15vh;
  margin-bottom: -20%; 
  height: 100%;
  padding-bottom: 10vh;
}

.wantedFix{
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: white;
  margin-top: -3.5vh;
  margin-bottom: -3vh;


}

.all-screen{
  width:100%;
}

.pding-all-category-screen{
  overflow-y: auto;
  /* margin-top: 25vh; */
  padding-top: 13vh;
  /* margin-bottom: -20%;  */
  height: 100%;
  /* padding-bottom: 10vh; */
}

.cardsMain{
  width:14rem;
  font-family: 'pretendard-regular';
  position: relative;
  z-index: 1;
  border-color: white;
  
}

.mainGiftText{
  font-size: larger;
  margin-bottom: 1vh;
  margin-top: 3vh;
  font-family : 'pretendard-semibold';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.best-ten{
  margin-left: 2vh;
  
}

.marginbottonchange{
  margin-bottom: 1vh;
  font-family : 'pretendard-regular';
  
}


/* 로그인 페이지 */
.loginPage{
  display: flex;
  justify-content: center; 
  align-items: center;   
  flex-direction: column; 
  height: 100vh;
}

.myloginPage{
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin-top: 18vh;
}

.mysignupPage{
  padding-bottom: 60%;
  text-align: center;
}

.loginText{
  margin-top: 53px;
  height: 56px;
  text-align:center;
  width:100%;
  align-items: center;
  font-family : 'pretendard-medium';
  font-size: x-large;
  top: 0;
  position: fixed;
}

.input-info-box{
  width: 48vh;
  height: 48px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  font-family : 'pretendard-regular';
  margin-bottom: 1vh;
  padding-left: 2vh;
}

.checking-box{
  width: 84px;
  height: 56px;
  border-radius: 10px;
  background-color: #496D68;
  font-family : 'pretendard-regular';
  color:white;
  margin-bottom: 1vh;
  margin-left: 1vh;
  text-align: center;
  flex: 1;
}

.login-btn{
  width: 48vh;
  height: 48px;
  border: 1px solid grey;
  border-radius: 10px;
  font-family : 'pretendard-regular';
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: #D0F0E3;
  color: #ffffff;

  &.filled {
    background-color: #496D68; 
  }

  &.unfilled {
    background-color: #D0F0E3;
    opacity: 0.5; 
  }
}

.btnclas{
  border: 0;
  background-color: transparent;
  text-align: center;
  flex: 1;
  float:left;
  margin-left: 3vh;
  margin-right: -20vh;

}

/* 프딩 페이지 */

.input-friend-box{
  width: 398px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  font-family : 'pretendard-regular';
  margin-bottom: 1vh;
  padding-left: 2vh;
  align-items: center;
}

.input-friend-btn{
  position: absolute;
  right: 3vh;
  padding-top: 0.8vh;
  border: 0;
  background-color: transparent;
}

.pding-ment{
  font-family : 'pretendard-medium';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pding-subment{
  font-family : 'pretendard-medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-top: 1vh;
}

.category-btn{
  margin-right: 1vh;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: white;
  border-color: #7b7b7b;
}

/* .category_wrap{

} */


/* 알림창 메뉴 */

.newsBox{
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.submenu-news{
  width: 215px;
  height: 48px;
  text-align: center;
  flex: 1;
  padding-top: 1.5vh;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid grey;
  font-family : 'pretendard-medium';
}

.submenu-news.active {
  border-bottom: 2px solid #496D68;
  color: #496D68; /* You can also change the text color if needed */
}

.newsName{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-family : 'pretendard-medium';
}

.newsButton{
  background-color: transparent;
  border: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  font-family : 'pretendard-regular';
  padding-right: 2vh;
}

.hoursAgo{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: #7b7b7b;
}

.PartFund{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-family : 'pretendard-regular';
}


/* 펀딩 글쓰기 페이지 */

.FundingBox{
  width: 398px;
  height: 40px;
  flex-shrink: 0;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  font-family : 'pretendard-medium';
  margin-bottom: 2vh;
  padding-left: 2vh;
}

.Formstyle{
  font-family : 'pretendard-medium';
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 1vh;
}

.FundingBox:focus{
  outline: 2px solid #496D68;
}

.cancelButton{
  width: 84px;
  height: 56px;
  border-radius: 28px;
  border: 1px solid var(--Outline, rgba(0, 0, 0, 0.22));
  background: var(--Surface, #FFF);
  font-size: 14px;
  font-family : 'pretendard-medium';
  
}

.submitButton{
  width: 298px;
  height: 56px;
  border-radius: 28px;
  border: 1px solid var(--Outline, rgba(0, 0, 0, 0.22));
  background: var(--Primary, #496D68);
  color:white;
  font-size: 14px;
  font-family : 'pretendard-medium';
  margin-left: 1.5vh;
}

.photosubmit{
  width: 398px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid var(--Primary, #496D68);
  background: var(--Surface, #FFF);
}

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  border : 1px solid rgb(37, 37, 37);
  border-radius : 4px;
  background-color: #f5f5f5;
  font-weight: 400;
  color : rgb(37, 37, 37);
  padding : 12px;
  width: 310px;
  height: 40px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
}

.dropbtn a:hover{
  background: var(--Primary200, #D0F0E3);
}

